@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Demo Project</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
            <ul>
                <li>@Html.ActionLink("View Materials", "Index", "Material")</li>
                <li>@Html.ActionLink("View Products", "Index", "Product")</li>
            </ul>
    </div>
</div>