@model System.Collections.Generic.IList<Product.DomainObjects.Models.ProductModel>

@{
    ViewBag.Title = "Products";
}

<h2>Products</h2>

<table class="table table-striped">
    <tr>
        <td>
            ID
        </td>
        <th>
            Product
        </th>
        <th>
            Price
        </th>
        <th>
            @*actions*@
        </th>
    </tr>
    @foreach (var p in Model)
    {
    <tr>
        <td>
            @p.ProductId
        </td>
        <td>
            @p.Name
        </td>
        <td>
            @p.Price
        </td>
        <td>
            @Html.ActionLink("view", "View", new { id = p.ProductId })
        </td>
    </tr>
    }
</table>